body {
    background-color: rgba(153,217,234,0.15);
    background-position: center center;
    -webkit-background-size: 60%;
    -moz-background-size: 60%;
    -o-background-size: 60%;
    background-size: 60%;
}
button {
    background-color: rgb(153,217,234);
}
button:hover {
    background-color: #3781dd
}
h1, h2 {
    text-align: center;
}
.sideBar {
    float: left;
    width: 15%;
}
table,tr, td, th {
    border: 2px dotted rgb(8, 191, 239);
    overflow: hidden;
    padding: 2px;
    text-overflow: ellipsis;
}
.inTable {
    float: left;
    margin-left: 5%;
    margin-right:5%;
    table-layout: fixed;
    width: 40%;
}
.bodyTbl {
    float: right;
    margin-right:5%;
    table-layout: fixed;
    width: 35%;
}
th {
    font: bold 20px arial,verdana;
    height: 50px;
}
tr:nth-child(even){
    background-color: rgba(153,217,234,0.20);
}