body {
    background-color: rgba(153,217,234,0.15);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: 80%;
    -moz-background-size: 80%;
    -o-background-size: 80%;
    background-size: 80%;
}
button {
    background-color: rgb(153,217,234);
}
button:hover {
    background-color: #3781dd
}
h1, h2 {
    background: rgba(153,217,234,0.5);
    color: rgb(3, 24, 30);
    font-family: Garamond;
    text-align: center;
}
.logo{
    height: 180px;
    width: 180px;
    
}
.sideBar {
    float: left;
    margin-right:2.5%;
    width: 15%;
}
table,tr, td, th {
    background-color: rgba(255, 255, 255,0.50);
    border: 2px dotted rgb(8, 191, 239);
    overflow: hidden;
    padding: 2px;
    text-overflow: ellipsis;
}
.inTable {
    float: left;
    margin-right:2.5%;
    table-layout: fixed;
    width: 40%;
}
.MessageBody {
    float: right;
    table-layout: fixed;
    width: 35%;
}
th {
    font: bold 20px arial,verdana;
    height: 50px;
}
tr:nth-child(even){
    background-color: rgba(153,217,234,0.20);
}